<script>
    var markers = <%= raw @markers %>;

    // Info Window Content when clicked. will be generated from a helper class
    var infoWindowContent = [
        ['<div class="info_content">' +
                '<h3>London Eye</h3>' +
                '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
        ['<div class="info_content">' +
                '<h3>Palace of Westminster</h3>' +
                '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
                '</div>']
    ];
</script>
<p>This is the index page in the index controller.</p>
<div id="map_wrapper">
  <div id="map_canvas" class="mapping"></div>
</div>