<h2>Ride Added</h2>
<p>You added:</p>
<table>
  <tr>
    <th>Start Address</th><th>End Address</th><th>Date</th>
  </tr>
  <tr>
    <td><%= @ride.Start_Address %></td> <td><%= @ride.End_Address %></td> <td><%= @ride.Time %></td>
  </tr>
</table>
