/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
footer{
  clear:both;
  font-weight:bold;
  margin-left:auto;
  margin-right:auto;
  width:30%;
}
nav {
    margin: 5px 0 5px 5px;	
    font-weight:bold;
    text-decoration:none;
    font-size: 15px;
 }
nav a {
  text-decoration: none;	
}
nav a:hover {
   color: #333;
  text-decoration: none;	
}

.section1 {
  float:left;
 font-weight:bold;
  width:400px;
  -moz-box-shadow:    3px 3px 5px 3px #000;
  -webkit-box-shadow: 3px 3px 5px 3px #000;
  box-shadow:         3px 3px 5px 3px #000;
}
.section2 {
 float: right;
}
.section3 {
  clear:both;
  float: left;
}
